@import '../../components/App/variables.module';

.header {
  height: 60px;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.li {
  margin-right: 30px;
  color: #fff;
  font: 700 17px "Dikovina", tahoma, Helvetica, sans-serif;
  text-shadow: 2px 2px 6px $azure, -2px -2px 6px $azure, -2px 2px 6px $azure, 2px -2px 6px $azure;
}

.li:hover {
  text-shadow: 2px 2px 6px $green, -2px -2px 6px $green, -2px 2px 6px $green, 2px -2px 6px $green;
}

.activeLi {
  text-shadow: 2px 2px 6px $green, -2px -2px 6px $green, -2px 2px 6px $green, 2px -2px 6px $green;
}